.header {
    max-width: 1200px;
    margin: 0 auto; /* Esto centra el header horizontalmente */
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
}
.main {
    width: 75%;
}
.aside {
    width: 25%;
    min-height: 400px;
    min-width: 200px;
}
.footer{
  width: 50%;    
}
.footer:partedos{
    min-height: 80px;
    max-height: 80px;
}

.logo {
    height: 60px;
    width: 60px;
}

.h1{
    align-items: center;
    size: 2.5em;
}