header {
    max-width: 1200px;
    margin: 0 auto; /* Esto centra el header horizontalmente */
    
}
main {
    width: 75%;
}
aside {
    width: 25%;
    min-height: 400px;
    min-width: 200px;
}
footer{
  width: 50%;    
}
footer:partedos{
    min-height: 80px;
    max-height: 80px;
}
