.header {
    max-width: 1200px;
    margin: 0 auto; /* Esto centra el header horizontalmente */
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
}
.main {
    width: 75%;
}
.aside {
    width: 25%;
    min-height: 400px;
    min-width: 200px;
}
/*.footer{
  width: 50%;    
}*/
.footer:partedos{
    min-height: 80px;
    max-height: 80px;
}

.logo {
    height: 60px;
    width: 60px;
}

.h1{
    align-items: center;
    size: 2.5em;
}
.h3{
    size: 1.5em;
    font-weight: bold;
}
.footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f1f1f1; /* Color de fondo para diferenciarlo */
}

.parte-izquierda, .parte-derecha {
    flex: 1; /* Esto permite que cada parte tome la mitad del espacio disponible */    
    margin: 0 10px; /* Espaciado entre las partes */
}
